h1{
	text-align:center;
	margin-top:40px;
	font-size:20px;
	font-weight:bold;
}
p#time{
	text-align:center;
	font-style:itaic;
	margin-bottom: 40px;
}
div#content{
	margin: 20px 50px;
}
div#countDown{
	position:fixed;
	border: 1px solid blue;
	right:0px;
	bottom:20px;
	min-height:40px;
	padding:20px;
	width:120px;
}
div#countDown p{
	text-align:center;
}
td{

	padding-left:20px;
	vertical-align:top;


}
div#noi_dung_de{
	margin-bottom:100px;
}