body {
	
	color: #585858;
	font-family: Arial;
	font-size: 14px;
	margin: 0;
	width: 1360px;
	margin:auto;
}

a {
	outline: none;
}

img {
	border: none;
}

#header div#section:after,
#header ul:after,
#content div:after,
#content div ul.services:after,
#footer div:after,
#footer div div.section ul:after {
	clear: both;
	content: " ";
	display: block;
	font-size: 0;
	height: 0;
	visibility: hidden;
}

#page {
	background-color:white;
	width: 100%;
	
}

#header {
	background: url(images/header.jpg) ;
	height: 382px;
	overflow: hidden;
	position: relative;
}



#header div#section {
	
    float: right;
    margin-top: 40px;
    height:auto;
    width:350px;
}



#header div#section a#login{
    color: #00a99d;
    float: left;
    margin-top:30px;
    margin-left:0px;
    height:auto;
    text-align: right;
    width: 130px;
}

#header div#section a#login button{
	background-color: white;
    color: #00a99d;
    float:left;
    border: 1px solid #00a99d;
    padding: 5px 12px !important;
    margin-left: 5px;
    font-size: 16px;
    text-decoration: none !important;
    font-family: ProximaNova-Regular;
    width:120px;
}
#header div#section a#creat{
	color:#00a99d;
	float:right;
	margin-top:30px;
	margin-right:85px;
	height:auto;
	text-align: right;
	width:130px;
}
#header div#section a#creat button{
	background-color: #00a99d;
    color: white;
    border: 1px solid #00a99d;
    padding: 5px 12px !important;
    margin-left: 5px;
    font-size: 16px;
    text-decoration: none !important;
    font-family: ProximaNova-Regular;
    width:120px;
}
#header div#section p{
	color:#00a99d;
	font-size:18px;
	font-weight:bold;
}
#header div#section a{
	color:#00a99d;
	text-decoration:none;
	font-style:italic;
	font-size:18px;
	font-weight:bold;
}
#header ul{
	list-style: none;
	margin: 340px auto 0;
	width:940px;
}
#header ul li {
	float: left;
    padding-right: 5px;
}

#header ul li a {
	color: white;
	background-color:#00a99d;
    display: block;
	font-size: 16px;
	border-style:solid;
	border-width:3px;
	border-color:#00a99d;
    height: 43px;
    line-height: 37px;
    padding: 0 23px;
    text-align: center;
    text-decoration: none;
    //text-shadow: 1px 1px 0 #94C81D;
    text-transform: capitalize;
}

#header ul li.current, #header ul li:hover {
	height: 43px;
}	

#header ul li.current a {
	background: url(images/bg-menu.gif) repeat-x;
	border:none;
	color: #2a495e;
	font-weight: bold;
	text-shadow: 1px 1px 0 #a8d32c;
}










#footer {
	background: #274F75 url(images/bg-footer.gif) repeat-x;
	min-height: 113px;
	width: 100%;
}
#footer div {
	font-size: 12px;
	margin: 0 auto;
    padding-top: 37px;
	position: relative;
    width: 960px;
}
#footer div div#connect {
	float: left;
	padding: 0;
	width: 250px;
}
#footer div div#connect a {
	display: inline-block;
	padding-right: 10px;
}
#footer div div#contact{
	float:right;
	padding: 0;
	width:300px;
}

#footer div div#contact p{
	color: #6886A0;
	font-size: 14px;
    margin: 0;
    padding: 20px 3px 0;
    text-align: right;
}







#content{
	border-top: #657d9a solid 5px;
	border-bottom: red solid 5px;
	background:url(images/background.jpg) repeat;
	margin: 0 auto;
	min-height: 174px;
    overflow: hidden;
    position: relative;
    width: auto;
	text-align: center;
}


/* content for home */

#content #countdown{
	text-align: center;
	background: #00ec7f;
	font-family: sans-serif;
	font-weight: 100;
	padding-bottom:10px;
	vertical-align: top;
	width:960px;
	margin: 20px auto;
	border-radius:15px;
	border: 3px solid black;
}

#content #countdown h1{
  color: #396;
  font-weight: 100;
  font-size: 40px;
  margin: 20px 20px 0px 20px;
}

#content #clockdiv{
	font-family: sans-serif;
	color: #fff;
	display: inline-block;
	font-weight: 100;
	text-align: center;
	font-size: 30px;
}

#content #clockdiv > div{
	padding: 10px;
	border-radius: 3px;
	background: #00BF96;
	display: inline-block;
}

#content #clockdiv div > span{
	padding: 15px;
	border-radius: 3px;
	background: #00816A;
	display: inline-block;
}

#content .smalltext{
	padding-top: 5px;
	font-size: 16px;
}


#content #examinfo{
	text-align: center;
	margin: 15px;
}

#content #examinfo #info{
	width:100%;
	
}
#content #examinfo .box{
	float:left;
	margin: 40px 70px;
	height:200px;
	width: 500px;
	display: block;
	background-color: #00bf96;
	border-radius:15px;
	border: 5px solid gray;
}
#content #examinfo .box p{
	color:white;
	font-size:16px;
	text-align: justify;
	margin: 20px 30px;
	
}
#content #examinfo .box a{
	text-decoration:none;
	font-size:16px;
	margin-top:10px;
	margin-bottom:20px;
	text-align:right;
}
#content #subject{
	margin-bottom:50px;
}
#content #subject span{
	color:#ffd400ed;
	font-size:35px;
	font-weight:bold;
	text-shadow: 4px 4px 4px #cc0000;
	
}
#content #subject #subject-list{
	width:1090px;
	margin: 20px auto;
}
#content #subject #subject-list .sbox{
	float: left;
	width: 250px;
	height: 240px;
	margin: 10px;
	background-color: white;
	display:block;
}
#content #subject #subject-list .sbox img{
	width:250px;
	height:160px;
}
#content #subject #subject-list .sbox p{
	
	font-size:20px;
	font-family:Courier;
	font-weight: bold;
}

/* content for test exam */



/* content for news*/
#content .container{
	width: 80%;
	margin:40px auto;
	min-height:500px;
	background:white;
	border-radius: 20px;
}
div.tab{
	text-align:center;
}
div.tab button {
    background-color:  #2a495e; 
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
	margin-top:-20px;
	color:white;
	
}
 

div.tab button:hover {
    background-color: #ddd;
}
 

div.tab button.active {
    background-color: #ccc;
}
div.tabcontent{
	display: none;
    padding: 40px 40px 60px 60px;
	text-align:left;
	font-family:'Roboto', Arial, sans-serif;
	
}
div.tabcontent h1{
	font-weight:normal;
	font-size: 30px;
	
	margin-bottom:40px;
}
div.tabcontent strong{
	font-size:18px;
	margin-bottom:10px;
	margin-top:40px;
}
div.tabcontent p{
	font-size:14px;
	margin-top: 6px;
	margin-bottom:15px;
}
div.tabcontent p#nguon{
	float:right;
	margin-right:40px;
	font-style:italic;
}

/* content for test exam */

.tabcontent p#note{
	font-size:16px;
	font-weight:bold;
	text-align:center;
}
.tabcontent div#file{
	height:100px;
	width:80px;
	float:left;
	margin: 20px 40px;
}
.tabcontent div#file p{
	text-align:center;
	font-weight:bold;
}

#content .guide{
	width:960px;
	margin:20px auto;
	background:white;
	border:2px solid black;
	border-radius:10px;
}
#content .guide p.pcontent{
	margin:10px 10px;
	text-align:left;
	
}
/*css for admin page */
.searchform{
	
	margin-top:30px;
	margin:auto;
	
   
    padding: 20px 10px;
    width: 400px;
}
.searchform input[type="text"]{
	border-width: 1px;
    border-style: solid;
    border-color: #fff;
    font: bold 12px Arial,Helvetica,Sans-serif;
    color: #bebebe;
    width: 55%;
    padding: 8px 15px 8px 30px;
	background: #d8d8d8;
	margin-left:20px;
}
.searchform input[type="submit"]{
	background: #6A6F75;
    border-width: 0px;
    padding: 9px 0px;
    width: 23%;
    cursor: pointer;
    font: bold 12px Arial, Helvetica;
    color: #fff;
    text-shadow: 0 1px 0 #555;
}
#resulf{
	text-align:center;
}
#result table{
	margin:auto;
	table-layout:auto;
}
#result table td{
	text-align:left;
	padding:1px;
	padding-right:10px;
}

.searchform input[type="file"]{
	border-width: 1px;
    border-style: solid;
    border-color: #fff;
    font: bold 12px Arial,Helvetica,Sans-serif;
    color: #bebebe;
    width: 60%;
	
    padding: 8px 15px 8px 30px;
	background: #d8d8d8;
	margin-left:20px;
}

